#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  border-radius: 50%;
  width: min(30vw, 15em);
  height: min(30vw, 15em);
  box-shadow:
    0 0 5em #646cff96,
    0 0.3em 0.6em #99afbba0;
}

.links {
  border: 2px solid #8899aa50;
  border-radius: 2em;
}

.link {
  background-color: #8899aa30;
  text-decoration: none;
  border-radius: .4em;
  color: #eeeeee;
  font-size: 1.1em;
  margin: .4em .5em;
  display: flex;
  .text {
    text-align: end;
    border-radius: unset;
    background-color: unset;
  }
  .icon {
    position: static;
    font-size: 1.4em;
    opacity: 0.4;
    background-color: unset;
    border-radius: unset;
  }
}
.link.first {
  margin-top: 0;
  border-top-right-radius: 1.5em;
  border-top-left-radius: 1.5em;
}
.link.last {
  margin-bottom: .5em;
  border-bottom-right-radius: 1.5em;
  border-bottom-left-radius: 1.5em;
}

@media (prefers-color-scheme: light) {
  .logo {
    box-shadow:
      0 0 5em #646cff26,
      0 0.3em 0.6em #99afbb30;

  }
  .link {
    color: #111111;
  }
}
